.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/build
/gen
/bin
/proguard-project.txt
/out

/*.pydevproject
/.project
/.metadata
/out/**
/bin/**
/tmp/**
/tmp/**/*
/*.tmp
/*.bak
/*.swp
/*~.nib

/.classpath
/.settings/
/.loadpath
*.ipr
*.iws
*.iml
.idea/
Thumbs.db

# External tool builders
/.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
/*.launch

# CDT-specific
/.cproject

# PDT-specific
/.buildpath

*.class
.idea


*/target
*/build
target
build
tmp
*~
bin
**pom.xml.releaseBackup
release.properties
gen
*/seed.txt
notes
logs
gen-external-apklibs


*.swp
.settings/
.project
.classpath
.directory


