<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.maniak.appexample" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--
     The API key for Google Maps-based APIs is defined as a string resource.
     (See the file "res/values/google_maps_api.xml").
     Note that the API key is linked to the encryption key used to sign the APK.
     You need a different API key for each encryption key, including the release key that is used to
     sign the APK for publishing.
     You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- TutorialPoint - Android Widgets -->

        <receiver android:name=".section.tutorialspoint.provider.WidgetInfoProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <!-- Udacity Analytics -->

        <activity
            android:name=".section.udacity.analytics.activity.DinnerMainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".section.udacity.analytics.activity.ShowDinnerActivity"
            android:label=""
            android:parentActivityName=".section.udacity.analytics.activity.ShowDinnerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".section.udacity.analytics.activity.DinnerMainActivity" />
        </activity>
        <activity
            android:name=".section.udacity.analytics.activity.ShowAllDinnersActivity"
            android:label=""
            android:parentActivityName=".section.udacity.analytics.activity.ShowAllDinnersActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".section.udacity.analytics.activity.DinnerMainActivity" />
        </activity>
        <activity
            android:name=".section.udacity.analytics.activity.ShowRecipeActivity"
            android:label=""
            android:parentActivityName=".section.udacity.analytics.activity.ShowRecipeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".section.udacity.analytics.activity.ShowDinnerActivity" />
        </activity>
        <activity
            android:name=".section.udacity.analytics.activity.OrderDinnerActivity"
            android:label=""
            android:parentActivityName=".section.udacity.analytics.activity.OrderDinnerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".section.udacity.analytics.activity.ShowDinnerActivity" />
        </activity>
        <activity
            android:name=".section.udacity.analytics.activity.RemoveMealActivity"
            android:label=""
            android:parentActivityName=".section.udacity.analytics.activity.RemoveMealActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".section.udacity.analytics.activity.ShowDinnerActivity" />
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider975217325898749"
            android:exported="true" />

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
